.vs/
bin/Debug/
obj/Debug/
obj/Release/FalloutBackup.csprojAssemblyReference.cache
obj/Release/FalloutBackup.csproj.GenerateResource.cache
obj/Release/FalloutBackup.csproj.FileListAbsolute.txt
obj/Release/FalloutBackup.csproj.CoreCompileInputs.cache
obj/Release/App.g.i.cs
obj/Release/App.g.cs
obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/MainWindow.g.i.cs
obj/Release/MainWindow.g.cs
obj/Release/MainWindow.baml
obj/Release/FalloutBackup_MarkupCompile.lref
obj/Release/FalloutBackup_MarkupCompile.cache
obj/Release/FalloutBackupApp.Properties.Resources.resources
obj/Release/FalloutBackup.pdb
obj/Release/FalloutBackup.g.resources
bin/Release/FalloutBackup.pdb
bin/Release/FalloutBackup.exe.config
obj/Release/FalloutBackup.exe
